<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscrição em <%= nomeEvento %> validada</title>
    <meta description="Inscrição em evento validada">

    <style>
        .text {
            color: #2d3436;
            font-weight: 500;
        }
        span.text {
            font-size: 1.3em;
        }

        .title {
            font-size: 2em;
        }
    </style>
</head>
<body style="font-family: Helvetica, sans-serif;">
    <table style="margin: 0 auto" width="600">
        <tr>
            <td>
                <img src="cid:unique@logo" width="315" height="99" alt="Logo Dyon">
            </td>
        </tr>
        <tr>
            <td>
                <h2 class="text" style="margin-block-end: 0; margin-bottom: 0;">Sua participação em <%= nomeEvento %> foi confirmada </h2>
            </td>
        </tr>
        <tr>
            <td>
                <span class="text">
                    Um operador confirmou sua presença no evento <%= nomeEvento %> realizado por <%= nomeInstituicao %>!
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="text">
                    Agora que sua inscrição foi validada, não se esqueça de escrever uma avaliação para que <%= nomeInstituicao %>
                    saiba o que você achou desse evento!
                </span>
            </td>
        </tr>
    </table>    
</body>
</html>